div{
    background-color: orange;
    width: 300px;
    height: 300px;
}
.rojo{
    background-color: red;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.amarillo{
    background-color: yellow;
}
button {
    border: 1px solid black;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    margin-top: 5px;
}